{% extends "project_web_app/base.html" %}

{% block title %}DCCPlaces - Ingresar{% endblock %}



{% block content %}
            <div class="bg-white basis-full rounded-t-3xl flex justify-center">
                
                <div class="self-center bg-sky-200 rounded-2xl pt-6 px-4">
                    <div class="text-xl text-center">
                        Reserva de Salas DCC
                    </div>
                    <div class="text-m text-center text-slate-700">
                        Iniciar sesión
                    </div>

                    <!--Jinja2 to show errors-->
                    {% if error_message %}
                    <div class="text-red-600">
                        {{ error_message }}
                    </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="grid gap-4 py-6 text-xs">
                            <div>
                                <label for="email">Correo</label>
                                <input type="text" name="email" id="email" class="bg-white rounded-lg focus:ring-sky-500 focus:border-sky-500 w-full p-2.5" placeholder="nombre@ejemplo.com" required />
                            </div>
                            <div>
                                <label for="pass">Contraseña</label>
                                <input type="password" name="password" id="pass" class="bg-white rounded-lg focus:ring-sky-500 focus:border-sky-500 w-full p-2.5" placeholder="Contraseña" required />
                            </div>
                            <button type="submit" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg px-5 py-2.5 text-center">Ingresar</button>

                        </div>
                    </form>
                    <form class= "pb-6" action="{% url 'signup' %}" method="GET">
                        <button class="w-full text-sm text-gray-800 hover:underline focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg px-5 text-center">No Tengo Cuenta</button>
                    </form>


                </div>
            </div>
{% endblock %}
